*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: rgb(170,151,228);
    background: radial-gradient(circle, rgba(170,151,228,0.8886905103838411) 0%, rgba(77,61,159,1) 70%);
    align-items: center;
}

.naslov{
    text-align: center;
    background: radial-gradient(circle, rgba(170,151,228,0.8886905103838411) 0%, rgba(77,61,159,1) 70%);
    align-items: center;

}